{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}

/*
import React from 'react';

jsx
return (
  <div></div>
)

React.createElement(div,{},children)
*/
